<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Students Management</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div align="center" class="container my-2">
    <h1>StudentsList</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Student Name</th>
            <th>Student Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="studentOne : ${listOfStudents}">
            <td th:text="${studentOne.name}"></td>
            <td th:text="${studentOne.age}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>