<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Students Management</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div align="center" class="container my-2">
    <h1>StudentsList</h1>
    <a th:href="@{/showNewStudentForm}" class="btn btn-primary btn-sm mb-3">Add Student</a>
      <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
<!--            Commenting below table header to add hyperlink for sorting by student name-->
<!--            <th>Student Name</th>-->
<!--            <th>Student Age</th>-->
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">
                    Student Name
                </a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=age&sortDirection=' + ${reverseSortDirection}}">
                Student Age
            </a>
            </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="studentOne : ${listOfStudents}">
            <td th:text="${studentOne.name}"></td>
            <td th:text="${studentOne.age}"></td>
            <td><a th:href="@{/showFormForUpdate/{id}(id=${studentOne.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteStudent/{id}(id=${studentOne.id})}" class="btn btn-danger">Delete</a>
        </tr>
        </tbody>
      </table>
    <div th:if="${totalPages > 1}">
        <div class="row col=sm-10">
            <div class="col-sm-2">
                Total rows:[[${totalItems}]]
            </div>
            <div class="col-sm-1">
                <span th:each="i: ${#numbers.sequence(1,totalPages)}">
<!--                    <a th:if="${currentPage !=i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>-->
                     <a th:if="${currentPage !=i}" th:href="@{'/page/' + ${i} + '?sortField=' +${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                    <span th:unless="${currentPage !=i}">[[${i}]]</span> &nbsp; &nbsp; &nbsp;
                </span>
            </div>
            <div class="col-sm-1">
<!--                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' +${currentPage +1}}">Next</a>-->
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' +${currentPage +1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span> &nbsp; &nbsp;
            </div>
            <div class="col-sm-1">
<!--                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' +${totalPages}}">Last</a>-->
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' +${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>

    </div>
</div>
</body>
</html>